include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/ndpcatalogadditions *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/ndpcatalogadditions/migration *.ini *.py *.mako
